footer {
    background-color: #D186A0;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link-navegation-footer {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.link-footer, .link-footer:visited { 
    padding: 15px;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 20px;
}

/* .link-footer :active {
    box-shadow: 0 0 10px 0 #d186a0ad;
} NO ME DEJA PONERLE ACTIVE A LOS LINKS DE FOOTER*/

.madeBy {
    color: snow;
    font-size: 15px;
    padding: 20px;
}

@media screen and (max-width: 400px) {
    footer {
        padding: 30px;
    }
    
    .link-navegation-footer {
        display: none;
    }

    .social-media {
        display: flex;
    }

    .madeBy {
        padding-top: 10px;
    }
}