.fifth-section-container {
    background-color: #fdf8e8;
    padding: 150px;
}

.contact-form-container {
    display: flex;
    justify-content: center;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 50px;
    padding-bottom: 100px;
}

.container-description {
    width: 70%;
    padding: 0 20px;
}

.contact-description {
    text-align: justify;
    padding-top: 10px;
}

.links-sm-container {
    margin-top: 20px;
}

.links-social-media {
    list-style-type: none;
}

.icon-sm {
    color: #D186A0;
    background-color: white;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 100px;
}

.icon-sm:visited {
    color: #D186A0;
}

.icon-container:hover .icon-sm {
    background-color: #D186A0;
}

.icon-container:hover .icon-sm {
    color: snow;
}

.message-me {
    padding-top: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}

.label {
    font-weight: 600;
    margin-bottom: 10px;
}

.input {
    width: 100%;
    height: 35px;
    background-color: #fdf8e8;
    border-radius: 100px;
    border: transparent;
    padding-left: 15px;
    font-size: 15px;
}

.textarea {
    width: 100%;
    background-color: #fdf8e8;
    border-radius: 20px;
    border: transparent;
    padding: 15px;
    font-size: 15px;
}

.textarea:focus, .input:focus {
    outline: 0 none;
    box-shadow: 0 0 10px 0 #d186a0ad;
}

.contact-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 20px;
}

.input-style {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 30px;
}

.contact-form-button {
    margin-top: 10px;
}

.send {
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 20px;
    outline: none;
}

@media screen and (max-width: 400px) {
    .fifth-section-container {
        background-color: white;
        padding: 10px 20px;
    }
    .contact-form-container {
        display: flex;
        flex-direction: column;
        background-color: white;
        border: 0;
        padding: 50px 0;
        padding-bottom: 50px;
    }
    .container-description {
        width: 100%;
        padding: 10px;
    }
    .contact-form-button {
        margin-top: 10px;
    }
}