header {
    width: 100%;
    padding: 25px;
    background-color: white;
    font-weight: 400;
    box-shadow: 0 0 29px 0 rgba(134, 134, 134, 0.25);
    position: fixed;
}

.links-navegacion {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    margin-right: 150px;
}

.link {
    margin: 0 10px;
    padding: 0 20px;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 50px;
}

.link:visited {
    color: #2e2e31;
}

.link-active:active {
    box-shadow: 0 0 10px 0 #d186a0ad;
}

.button {
    background-color: #D186A0;
    color: #fff;
    padding: 10px 40px;
    border-radius: 100px;
    /* width: 100px; */
    text-align: center;
}

.button-c-wid {
    color: white;
}

.button-c-wid:visited {
    color: white;
}

.button-c-wid:hover {
    color: white;
}

.button:hover {
    background-color: #d28da5;
}

.button:active {
    box-shadow: 0 0 10px 0 #d186a0ad;
}

@media screen and (max-width: 1000px) {
    header {
        display: none;
    }
}