.skills-container{
    /* width: 100%; */
    background-color: #fdf8e8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.content{
    text-align: center;
    font-size: 25px;
}

.technologies-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    width: 70%;
} 

.skill-container{
    background-color: white;
    width: 260px;
    height: 230px;
    font-weight: bold;
    border: 1px solid lightgray;
    border-radius: 8px;
    margin: 10px;
    padding: 30px;
    box-sizing: border-box;
    text-align: center;
}

.skill-container:hover{
    border: 1px solid #D186A0;
}

.skill-container:hover .img-name{
    color: #D186A0;
}

.icon-tech {
    font-size: 80px;
    margin-top: 20px;
}

.fa-html5 {
    color: #e54d26;
}

.fa-css3-alt {
    color: #3d8fc6;;
}

.fa-sass {
    color: #c69;
}

.fa-js {
    color: #f0db4f;
}

.fa-react {
    color: #61dafb;
}

.fa-git-alt {
    color: #f34f29;
}

.img-name {
    font-size: 20px;
    margin-top: 20px;
}

@media screen and (max-width: 400px) {
    .skills-container{
        padding: 100px 10px;
    }

    .technologies-container {
        width: 110%;
    } 
    
    .img-container{
        width: 180px;
        height: 180px;
    }


}
