* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Montserrat', sans-serif;
    color: #2e2e31;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

/* 1st SECTION HELLO/PRESENTATION & 5th SECTION CONTACT/FORM */
aside {
    width: 50%;
    height: 100%;
}

a {
    text-decoration: none;
}

a:hover {
    color: #D186A0;
}

/* 2nd SECTION - MY SKILLS & 4th SECTION - "MY PROJECTS" */

.container {
    width: 500px;
    text-align: center;
    padding: 20px;
}

.description {
    padding: 20px;
    font-size: 20px;
}

.fz-50 {
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 10px;
}

.p-20 {
    padding: 20px;
}

@media screen and (max-width: 400px) {
    aside {
        width: 100%;
        height: 100%;
    }
    .container {
        width: 300px;
        padding: 10px;
    }
    .description {
        padding: 10px;
        font-size: 15px;
    }
    .fz-50 {
        font-size: 40px;
    }
    .p-20 {
        padding: 10px;
    }
}